<div class="container">
  <% if current_user %>
    <a id='add_question' href='#'>Ask a question</a>
      <form id="submit_question" action="/questions" method="post">
        <input class="new-question-title" type="text" name="question[title]" placeholder="title"><br>
        <textarea class="new_question" name="question[body]" placeholder="your question goes here"></textarea><br>
        <input class="button" type="submit" value="ask">
        <input class="button cancel-question" type='button' value='cancel'>
      </form>
  <%end%>
  <%= erb :'questions/_question_info', layout: false %>
</div>
