<a id="add_question" href="/questions/new">ask a question</a>

<% if @questions%>
  <ul id="append">
    <% @questions.each do |question| %>
      <li><a href='/questions/<%= question.id %>'> <%= question.title %> </a></li>
    <% end %>
  </ul>
<% end %>
