<form action="/questions" method="post">
  <input type="text" name="question[title]" placeholder="title">
  <textarea name="question[question]" placeholder="your question goes here"></textarea>
  <input type="submit" value="ASK">
</form>
