<form action="/questions/new" method="post">
  <input type="text" name="question[title]" placeholder="title">
  <input type="textarea" name="question[question]" placeholder="your question goes here">
  <input type="submit" value="ASK">
</form>
