<div class="container">

  <%= erb :'/questions/_question_info'%>

  <% if current_user_id == @question.user.id %>
    <div class="actions">
      <a href='/questions/<%= @question.id %>/edit'>edit</a>
      <a class='delete' href='/questions/<%= @question.id %>'>delete</a>
    </div>
  <% end %>

  <h4>Respones</h4>
  <%= erb :'/answers/_answers_list'%>
</div>
