<div class="container">

  <%= erb :'/questions/_question_info'%>

  <% if current_user_id == @question.user.id %>
    <form action="/questions/<%=@question.id%>" method="post">
      <input type="hidden" name='_method' value='delete'>
      <input type="submit" name="delete" value="Delete">
    </form>
    <a href='/questions/<%= @question.id %>/edit'>edit</a>
  <% end %>

  <h4>Respones</h4>
  <%= erb :'/answers/_answers_list'%>
</div>
