<%= erb :'/shared/_errors' %>
<form class="new_user" action="/sessions" method="post">
  <div class="row">
    <div class="col s12 col m6 offset-m3">
      <div class="input-field">
        <i class="material-icons prefix form_icon">account_circle</i>
        <input type="text" name=user[username] id='username' class='validate'>
        <label for="username">Username</label>
      </div>
      <div class="input-field">
        <i class="material-icons prefix form_icon">vpn_key</i>
        <input type="password" name=user[password] id='password' class='validate'>
        <label for="password">Password</label>
      </div>
    </div>
  </div>
  <div class="center-align">
    <button class="btn waves-effect waves-light submit" type="submit" name="action">log in
      <i class="material-icons right">done</i>
    </button>
  </div>
</form>
