<div>
  <h1>Login</h1>
  <form action="/sessions" method="post">
    <input type="text" name=user[username] placeholder="username">
    <input type="text" name=user[password] placeholder="password">
    <input type="submit" value="login">
  </form>
</div>
