* {
  margin: auto;
}

nav {
  border-bottom: 4px solid #4caf50;
}

.new_user {
  margin-top: 3%;
}
.question-wrapper {
  border-bottom: 1px solid #4caf50;

  font-weight: 100;
}

.question-title {
  font-size: 25px;
}
.question-wrapper div {
  vertical-align: top;
}
.question-main {
  display: inline-block;
  text-align: left;
  width: 60%;
}

.question-main li a h2 {
  font-size: 2vw;
}
.question-main li h4 {
  font-size: 1vw;
  text-align: right;
}

.question-stats {
  margin-top: 1vw;
  display: inline-block;
  width: 25%;
}

.middle-stat {
  width: 9%;
  display: inline-block;
  font-size: 100%;
  font-weight: 400;
}

.middle-stat li {
  margin-top: 2vw;
  margin-right: 2vw;

  font-size: 2vw;
}

a {
  font-size: 10px;
}

/* label focus color */
.input-field input:focus + label {
   color: #4caf50 !important;
}
 /* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #4caf50 !important;
  box-shadow: 0 1px 0 0 #4caf50 !important;
}
.input-field.material-icons {
  color: rgba(0,0,0,0.7) !important;
}
.material-icons.active {
  color: #4caf50 !important;
}
.submit {
  background-color: #4caf50;
}
.submit:hover {
  background-color: rgba(0,0,0,0.7);
}

.errors {
  margin-top: 2%;
}
#small-nav {
  margin-bottom: 3.5vw;
  border: none;
  box-shadow: none;
}
#small-nav i {
  font-size: 8vw;
  width: 10vw;
  up: 2vw;
}


@media (max-width: 600px) {
  #large-nav {
    display: none;
  }
  .brand-logo span {
    font-size: 5vw;
  }
}

@media (min-width: 600px) {
  #small-nav {
    display: none;
  }
}
