* {
  margin: auto;
  /*border: 1px solid #4caf50;*/
}

.home-description {
  font-size: 20px;
  text-indent: 20px;
  font-style: italic;
  margin: 30px;
}

.home-wrapper {
  margin: 10px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  width: 100%;
}

footer{
  width:100%;
}

footer .container a {
  font-size: 15px;
  font-weight: 600;
}

footer .container a:hover {
  color: white !important;
}

.edit-question {
  margin-top: 3%;
}

.cancel {
  background-color: red !important;
}

ul {
  list-style: none;
}

.vote {
  color: rgba(0,0,0,0.3);
}

.voted_up {
  color: #4caf50;
}

.voted_down {
  color: #f44336;
}

.answer-wrapper #up, .answer-wrapper #down{
  font-size: 20px;
}

nav {
  border-bottom: 4px solid #4caf50;
}

.new_user {
  margin-top: 3%;
}
.question-wrapper {
  border-bottom: 1px solid #4caf50;
  font-weight: 100;
}

.question-title {
  font-size: 25px;
}
.question-wrapper div {
  vertical-align: top;
}
.question-main {
  display: inline-block;
  text-align: left;
  width: 60%;
}

.question-main li p {
  margin-top: 2vw;
}

.question-main li p a {
  font-size: 15px;
  font-weight: 400;
}

.question-stats {
  margin-top: 1vw;
  display: inline-block;
  width: 25%;
}

.question-author, .question-date {
  font-size: 11px;
}

.question-author {
  color: #4caf50;
  font-weight: 300;
}

.question-author:hover {
  color: #388e3c;
}


.middle-stat {
  width: 9%;
  display: inline-block;
  font-size: 100%;
  font-weight: 400;
}

.middle-stat li {
  margin-top: 2vw;
  margin-right: 2vw;
  font-size: 20px;
}

a {
  font-size: 10px;
}

/* label focus color */
.input-field input:focus + label {
   color: #4caf50 !important;
}
 /* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #4caf50 !important;
  box-shadow: 0 1px 0 0 #4caf50 !important;
}
.input-field.material-icons {
  color: rgba(0,0,0,0.7) !important;
}
.material-icons.active {
  color: #4caf50 !important;
}
.submit, .home-new {
  background-color: #4caf50;
}
.submit:hover {
  background-color: rgba(0,0,0,0.7);
}

.errors {
  margin-top: 2%;
}
#small-nav {
  margin-bottom: 3.5vw;
  border: none;
  box-shadow: none;
}
#small-nav i {
  font-size: 8vw;
  width: 10vw;
  up: 2vw;
}

#submit_question .new-question-title {
  width: 400px;
}

/*#submit_question .new-question-title:focus {
  border-bottom-color: green;
}*/


#submit_question input[type=text]:focus {
   border-bottom: 1px solid rgba(76, 175, 80, .7);
   box-shadow: 0 1px 0 0 rgba(76, 175, 80, .5);
 }

#submit_question textarea {
  outline: 0;
  border: 2px solid white;
  border-radius: 3px;
  height: 100px;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  border-radius: 3px;

  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

#submit_question textarea:focus {
  border: 2px solid rgba(76, 175, 80, .7);
}

#submit_question .button {
  border-radius: 4px;
  background-color: white;
  border: none;
  border: 1px solid white;
  border-radius: 4px;
  text-decoration: none;
  color: #757575;

  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

#submit_question .button:hover {
  color: #4caf50;
}

#submit_question .button:focus {
  outline:0;
  color: #e0e0e0;

}

.question-body {
  border: 2px solid #eeeeee;
  border-radius: 3px;
  padding: 20px;
}

.question-user {
  margin-right: 5px;
  font-size: 15px;
}

.question-date {
  text-align: right;

}

.answer-vote {
  /*padding: 10px;*/
  /*margin-left: 10%;*/

}
.answer-vote p {
  display: inline-block;
  padding: 2.5%;
}

/*.a-vote {
  padding-right: 20px;
  padding-left: 20px;
}*/

.answer-body {
  border: 2px solid #eeeeee;
  border-left: 4px solid #4caf50;
  border-radius: 3px;
  width: 92%
}

.answer-date {
  text-align: right;
}

.answer-user {
  font-size: 15px;
}

.answer-comment div {
  display: inline-block;
  width: 49.5%;

}

.answer-comment {
  position: relative;
  margin-left: 6vw
}

.comment-wrap {
  /*width: 45%;*/
}

.comment a {
  text-align: left;
  font-size: 15px;
}

.comments {
  margin-left: 15vw
}

.delete {
  display: inline-block;
}

.edit {
  display: inline-block;
}

.user-tools {
  display: inline-block;
  width: 40%;
}

.add_comments {
  display: inline-block;
  width: 40%;
  margin-left: 10%;
}

footer {
  background-color: #4caf50 !important;
}

@media (max-width: 600px) {
  #large-nav {
    display: none;
  }
  .brand-logo span {
    font-size: 5vw;
  }
}

@media (min-width: 600px) {
  #small-nav {
    display: none;
  }
}

#up, #down {
  font-size: 50px;
}
