<li class="nav-li"><a class="nav-a" href="/users/new">Create</a></li>
<form class="new_user" action="/sessions" method="post">
  <input type="text" name=user[username] placeholder="username">
  <input type="text" name=user[password] placeholder="password">
  <input type="submit" value="login">
</form>
