<% if @sign_in_errors %>
  <% @sign_in_errors.each do |e| %>
    <span> <%=e%> </span>
  <% end %>
<% end %>
<form class="new_user" action="/sessions" method="post">
  <input type="text" name=user[username] placeholder="username">
  <input type="password" name=user[password] placeholder="password">
  <input type="submit" value="login">
</form>
