<div>
  <h2>Create A User</h2>
  <form class="new_user" action="/users" method="post">
    <input type="text" name=new[username] placeholder="username">
    <input type="text" name=new[email] placeholder="email">
    <input type="text" name=new[password] placeholder="password">
    <input type="submit">
  </form>
</div>
