<form action="/questions/<%= question.id %>/answers/<%= answer.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="new[answer]" value="<%=answer.answer%>">
</form>
