<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Stack overflow clone</h5>
        <p class="grey-text text-lighten-4">This project was first built as a part of the curriculum at <a class="grey-text text-darken-3" href="https://devbootcamp.com/">DevBootcamp</a>
        and later improved with the intent of practicing JavaScript and JS libraries like Jquery, hand-building controllers and routes, improving git workflow, and to gain experience collaboratting with a team.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Built by:</h5>
          <ul>
            <li><a class="grey-text text-darken-3" href="https://github.com/LevytsRoman">Roman Levytskyy</a></li>
            <li><a class="grey-text text-darken-3" href="https://github.com/wvicioso">Wellington Vicioso</a></li>
            <li><a class="grey-text text-darken-3" href="#!">Matt Edwards</a></li>
          </ul>
      </div>
    </div>
  </div>
    <div class="footer-copyright">
      <div class="container">
      built with Materialize
      <a class="grey-text text-lighten-4 right" href="https://github.com/wvicioso/hackoverflow">
        <div class="row valign-wrapper">
          <div class="col s3">
            <img class='valign' src='http://www.physiolibrary.org/images/Github_logo_white.png' height='30' width='30'>
          </div>
          <div class="col s9">
            <strong>github repo</strong>
          </div>
        </div>
      </a>
      </div>
    </div>
</footer>
