<footer class="page-footer">
  <div class="container">
    <div class="row"> 
      <div class="col l6 s12">
        <h5 class="white-text">Stack overflow clone</h5>
        <p class="grey-text text-lighten-4">This project was first built as a part of <a class="grey-text text-darken-3" href="https://devbootcamp.com/">DevBootcamp</a> curriculum
        and later improved to practice javascript, setting up backend without many of helpful rails functions and generally
        building a complete website.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Built by:</h5>
          <ul>
            <li><a class="grey-text text-darken-3" href="https://github.com/LevytsRoman">Roman Levytskyy</a></li>
            <li><a class="grey-text text-darken-3" href="https://github.com/wvicioso">Wellington Viscioso</a></li>
            <li><a class="grey-text text-darken-3" href="#!">Matt Edwards</a></li>
          </ul>
      </div>
    </div>
  </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">github repo</a>
      </div>
    </div>
</footer>
