<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/style.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>

<body>
  <div class="nav-div">
  <nav>
    <ul class="nav-ul">
    <li class="nav-li"><a class="nav-a" href="/">Home</a></li>
    <li class="nav-li"><a class="nav-a" href="/">Profile</a></li>
    <li class="nav-li"><a class="nav-a" href="/questions">Questions</a></li>
    <li class="nav-li"><a class="nav-a" href="/users/new">Create</a></li>
    <li class="nav-li"><a class="nav-a" href="/sessions/new">Login</a></li>
  </ul>
  </nav>
</div>
  <%= yield %>
</body>
</html>
