<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <!-- <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/navbar.css"> -->
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/style.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/nav.js"></script>
  <script src="/js/questions.js"></script>
  <script type="text/javascript" src="/js/votes.js" >

  </script>

  <title></title>
</head>

<body>
  <div class="nav-div">
  <nav>
      <h4>Nav Bar</h4>
      <ul class="nav-ul">
      <li class="nav-li"><a class="nav-a" href="/">Home</a></li>
      <li class="nav-li"><a class="nav-a" href="/questions">Questions</a></li>
      <div class='logging_in'>
        <% if session[:id] %>
            <%= erb :'/users/_logged_in' %>
          <% else %>
            <a class='login' href='sessions/new'>log in</a>
            <li class="nav-li"><a class="nav-a" href="/users/new">Create</a></li>
          <% end %>
      </div>
    </ul>
  </nav>
</div>
  <%= yield %>
</body>
</html>
