<a class='vote' id='up' href='/questions/<%= @question.id%>/votes'>&#x2191;</a>
  <span class='vote_number'>
    <%= vote_num(@question) %>
  </span>
<a class='vote' id='down' href='/questions/<%= @question.id%>/votes'>&#x2193;</a>
